@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <div class="top-row px-4">
            <a href="http://cyberpunkangel-001-site1.itempurl.com/" target="_blank" class="ml-md-auto">Portafolio</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
